<% @reviews.each do |review| %>
  <tr>
    <td>
      <%= review.user.first_name %>
    </td>
    <td>
      <%= review.rating %>/5
    </td>
    <td>
      <% if review.description != ''%>
        <%= review.description %>
      <% end %>
    </td>
    <td>
      <% if current_user && review.user.id == current_user.id %>
        <%= link_to 'delete', review, method: :delete %>
      <% end %>
    </td>
  </tr>
<% end %>